<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Software Licence</title>
    <style>
      div {
        margin: 100px auto;
      }
      ul li {
        list-style: none;
        color: blue;
      }
      span {
        font-weight: bolder;
        color: black;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li><span>Name: </span><%= licence.software_name %></li><hr />
        <li><span>manufacturer: </span><%= licence.manufacturer %></li><hr />
        <li><span>Product Key: </span><%= licence.product_key %></li><hr />
        <li><span>Company: </span><%= licence.company %></li><hr />
        <li><span>Seats: </span><%= licence.seats %></li><hr />
        <li><span>Licensed to Name: </span><%= licence.licenced_to_name %></li><hr />
        <li><span>Licensed to Email: </span><%= licence.licenced_to_email %></li><hr />
        <li><span>Reassignable: </span><%= licence.reassignable %></li><hr />
        <li><span>Supplier: </span><%= licence.supplier %></li><hr />
        <li><span>Order Number: </span><%= licence.order_number %></li><hr />
        <li><span>Purchase Cost: </span><%= licence.purchase_cost %></li><hr />
        <li><span>Purchase Date: </span><%= licence.purchase_date %></li><hr />
        <li><span>Expiration Date: </span><%= licence.expiration_date %></li><hr />
        <li><span>Termination Date: </span><%= licence.termination_date %></li><hr />
        <li><span>Purchase Order Number: </span><%= licence.purchase_order_number %></li><hr />
        <li><span>Depreciation: </span><%= licence.depreciation %></li><hr />
        <li><span>Maintained: </span><%= licence.maintained %></li><hr />
        <li><span>Notes: </span><%= licence.notes %></li>
      </ul>
    </div>
  </body>
</html>
